@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.breadcrumb-bg {
  background-image: url("./assets/image/breadcrumb-bg/breadcrumb-bg.jpg");
  background-size: cover;
}

.web-design-development-bg {
  background-image: url("./assets/image/shapes/cta-inner-bg-1.png");
  background-size: cover;
}

@keyframes rotateDayNight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-rotate {
  animation: rotateDayNight 0.5s ease-in-out;
}

.gradient-Text {
  @apply bg-gradient-text text-lg bg-clip-text text-transparent;
}

.blobImg {
  background-image: url("./assets//image//company/choose-2.jpg");
  width: 400px;
  height: 400px;
  border-radius: 100px 200px 120px 200px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 5px 5px 5px rgba(13, 110, 0, 253, 0.1);
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 20% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 20% 70% / 60% 30% 70% 40%;
  }
}

.translate-up {
  transform: translateY(-20px);
}

.translate-down {
  transform: translateY(20px);
}
